<div class="wow">
  <div class="header-container1 col-xs-12 bgn">
    <h1 class="firsttitle">How We Work</h1>
    <hr class="thin">
    <div class="txt-container1">
      <h3>Quick and Easy 4 Step Process!</h3>
      <br /><br />
      <div class="col-xs-12 diagram">
        <div class="col-md-12 steps">
          <div class="col-md-3 step">
            <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true" style="color:#ff6a00"></i>
            <p>
              Step 1:<b> FILL OUT</b> the form below or <b>CALL</b> us.
            </p>
          </div>
          <div class="col-md-3 step">
            <i class="fa fa-mobile fa-5x" aria-hidden="true" style="color:crimson"></i>
            <p>
              Step 2: <b>WE'll</b> call you!
            </p>
          </div>
          <div class="col-md-3 step">
            <i class="fa fa-thumbs-up fa-5x" aria-hidden="true" style="color:#2c2c3e"></i>
            <p>
              Step 3: Do you like the <b>OFFER</b> we proposed?
            </p>
          </div>
          <div class="col-md-3 step">
            <i class="fa fa-money fa-5x" aria-hidden="true" style="color:#132b6c"></i>
            <p>
              Step 4: Get the <b>CASH</b>!
            </p>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="comment">
        <p>Once you have submitted your information, one of our real estate solutions specialists will contact you shortly (usually within 48 hours). In some situations, we will need to gather additional information. We will research your property and discuss all the details with you. We may be able to make you an offer right over the phone, or in most cases we will schedule a time with you to view the property and make you an offer!</p>
      </div>
    </div>
  </div>
  <br />
  <!--NEW-->
  <div class="col-xs-12 header-container1 bgy">
    <div class="col-xs-12 txt-container1">
      <div class="col-md-3">
        <img class=" image col-xs-12" id="image" src="../assets/userassets/images/properties/wcreek.JPG">
      </div>
      <div class="col-md-9">
        <h3>We Buy ANY Home</h3>
        <p>
          We buy houses in any condition, in any area, in any price range, in any situation! We will buy your house as-is, you don’t need to do ANY repairs!
          Whether your house is in foreclosure, over-leveraged, condemned, has liens or health department violations, not maintained, burned damaged, or about to fall down WE CAN BUY IT!
        </p>
      </div>
    </div>
  </div>
  <!--NEW-->
  <div class="col-xs-12 header-container1 bgn">
    <div class="col-xs-12 txt-container1">
      <div class="col-md-3 hidden-md hidden-lg hidden-xl">
        <img class="image col-xs-12" id="image" src="../assets/images/nomoney.jpg">
      </div>
      <div class="col-md-9">
        <h3>Bankruptcy? Forclosure? No Problem!</h3>
        <p>
          I Buy As Is is a professional real estate solutions company with years of experience in solving these of difficult situations. Please contact us for a confidential consultation.
        </p>
      </div>
      <div class="col-md-3 hidden-sm hidden-xs">
        <img class="image col-xs-12" id="image" src="../assets/images/nomoney.jpg">
      </div>
    </div>
  </div>
  <!--NEW-->
  <div class=" col-xs-12 header-container1 bgy">
    <div class="col-xs-12 txt-container1">
      <div class="col-md-3">
        <img class="image col-xs-12" id="image" src="../assets/images/noobligations.jpg">
      </div>
      <div class="col-md-9">
        <h3>Obligation Free!</h3>
        <p>
          There is no obligation on your side! We will simply review the information, make you an offer, and you choose to accept or reject it, totally your choice!
        </p>
      </div>
    </div>
  </div>
  <!--NEW-->
  <div class="col-xs-12 header-container1 bgn">
    <div class="col-xs-12 txt-container1">
      <div class="col-md-3 hidden-md hidden-lg hidden-xl ">
        <img class="image col-xs-12" id="image" src="../assets/images/confidential.jpg">
      </div>
      <div class="col-md-9">
        <h3>Confidentiality is Key!</h3>
        <p>Your privacy is of the utmost importance to us. Any information you provide is completely confidential! If you want to deal with a reliable, reputable company who will treat you with professionalism, understanding, and respect – YOU HAVE COME TO THE RIGHT PLACE!</p>
      </div>
      <div class="col-md-3 hidden-sm hidden-xs">
        <img class="image col-xs-12" id="image" src="../assets/images/confidential.jpg">
      </div>
    </div>
  </div>
  <!--NEW-->
  <div class="col-xs-12 header-container1 bgy">
    <div class="txt-container1 col-xs-12">
      <div class="col-md-3">
        <img class="image col-xs-12" id="image" src="../assets/images/refer.jpg">
      </div>
      <div class="col-md-9">
        <h3>Referrals!</h3>
        <p>Maybe there is a vacant house on your street or you know someone who needs and wants to sell their home, please refer them to us! Better yet, provide us their information and we will do all the research and make an offer. In some cases we will pay you up to $1,000 for a referral! Contact us directly to discuss the terms.</p>
      </div>
    </div>
  </div>
  <!--NEW-->
  <div class="header-container1 bgn">
    <div class="col-xs-12 txt-container1">
      <h3>Questions?</h3>
      <a class="button" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
    </div>
  </div>
</div>
<div class="clearfix"></div>

