<div class="container-fluid col-xs-12 ttnav hidden-xs hidden-sm">
  <div class="col-xs-12 col-md-4">
    <a routerLink="/home" class="hidden-xs hidden-sm center" routerLinkActive="active"> <app-landy></app-landy></a>
</div>
  <div class="col-md-8 banner">
   
    <a routerLink="/sell" class="hidden-xs hidden-sm col-xs-4 col-sm-2 center nav" routerLinkActive="active">Sell</a>
    <a routerLink="/about" class="hidden-xs hidden-sm col-xs-4 col-sm-2 center nav" routerLinkActive="active">About</a>
    <a href="http://blog.ibuyasis.com/" class="hidden-xs hidden-sm col-xs-4 col-sm-2 center nav">Blog</a>
    <div class="dropdown hidden-xs hidden-sm col-xs-4 col-sm-2 center nav">
      <span>Buy</span>
      <div class="dropdown-content">
        <div class="col-xs-12">
          <a routerLink="/buy" class="hidden-xs hidden-sm col-xs-4 col-sm-2 center nav" routerLinkActive="active">Buy&nbsp;A&nbsp;Home</a>
        </div>
        <br />
        &nbsp;
        <div class="col-xs-12">
          <a routerLink="/wholesale" class="hidden-xs hidden-sm col-xs-4 col-sm-2 center nav" routerLinkActive="active">Wholesale</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<a routerLink="/home" class="hidden-xs hidden-sm col-xs-4 col-sm-2 center" routerLinkActive="active">HOME</a>-->