<app-title [title]='"About"'></app-title>
<div class="container-liquid col-xs-12 col-sm-8 col-md-9 col-lg-10 maindisplay">
  <div class="row">
    <div class="col-xs-12 center">
      <p>This application is brought to you by the crazy people of I Buy As Is</p>
      <p>Our Master At Arms, Russell W. Brantmyer</p>
      <p>The Hammer Behind the Nail, Jeremy Brasseaux</p>
      <p>Jr. Code Smith / Intern, Robislandy Munguia</p>
      <p>Sr. Architect / Developer, Richard A. Yager Jr.</p>
    </div>
  </div>
</div>