carousel-caption {
  text-align:right;

}

p{
 color:black;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-style:normal;

}
h3 {
  font-size: 50px;
  color: crimson;
  background-color: white;
  opacity:1;
}
p{
  color: #000000;
  background-color:white;
  opacity:1;
}
img {
  max-height:450px;
  width:100%
}
.carousel-control {
  color:red;
}
