carousel-caption {
  text-align:right;

}

h3 {
  font-size: 50px;
  color: #393939;
  background-color: white;
  opacity: .8;
  border-radius: 15px;
  -webkit-animation: title 1.5s;
  transform: translateY(-15px);
}
p {
  font-size: 20px;
  color: #393939;
  background-color: white;
  opacity: .8;
  border-radius: 15px;
  -webkit-animation: para 1.5s;
  transform: translateY(-15px);
}
@keyframes para {
  0% {
    transform: translate(0);
    font-size: 20px;
    color: white;
    background-color: #20201b;
    border-radius: 5px;
    opacity: .1;
  }

  50% {
    transform-origin: 2px;
    transform-origin: bottom;
    transform: scale3d(200px);
  }

  100% {
    transform: translateY(-15px);
    font-size: 20px;
    color: #393939;
    background-color: white;
    border-radius: 15px;
    opacity: .8;
  }
}
@keyframes title {
  0% {
    transform: translate(0);
    color: #20201b;
    background-color: #20201b;
    border-radius: 5px;
    opacity: .1;
  }

  50% {
    transform-origin: 2px;
    transform-origin: bottom;
    transform: scale3d(200px);
  }

  100% {
    transform: translateY(-15px);
    color: #393939;
    background-color: white;
    border-radius: 15px;
    opacity: .8;
  }
}
img {

  width: 100%
}
.carousel-control {
  color: white;
}
  .carousel-control:hover {
    opacity:.3;
    background:white;
    color:#212128;
 
  }
