<div id="{{id}}" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li [attr.data-target]="fullid()" [attr.data-slide-to]="i" *ngFor="let slide of tiles; let i = index"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div [ngClass] ="j == 0 ? 'item active' : 'item'" *ngFor="let tile of tiles; let j = index">
      <img [src]="tile.img" [alt]="tile.caption">
      <div class="carousel-caption d-none d-md-block text">
        <h3>{{tile.title}}</h3>
        <p>{{tile.caption}}</p>
      </div>
    </div>
  </div>
  <!-- Controls -->
 <a [ngClass]="showcontrols()" class="left carousel-control" [href]="fullid()" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a [ngClass]="showcontrols()" class="right carousel-control" [href]="fullid()" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
