.tryit {
  background-color: #ffd800; /* Green */
  border: none;
  color: white;
  cursor: pointer;
}
.submit {
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}