<div class="col-sm-12 col-md-4">
  <div class="banner">
    <div itemscope itemtype="http://schema.org/WebPage" class="banner-content">
      <h1 itemprop="name">Buy A Home!</h1>
      <p itemprop="description">Find the home of your dreams.</p>
    </div>
    <div class="btn-group"><a href="/buy">Let's GO!</a></div>
  </div>
</div>
<div class="col-sm-12 col-md-4">
  <div class="banner2">
    <div itemscope itemtype="http://schema.org/WebPage" class="banner-content">
      <h1 itemprop="name">Let US Help You Sell Your Home!</h1>
      <p itemprop="description">We will help you throughout the process of selling your home!</p>
    </div>
    <div class="btn-group"><a href="/sell" >Let's GO!</a></div>
  </div>
</div>

<div class="col-sm-12 col-md-4">
  <div class="banner3">
    <div itemscope itemtype="http://schema.org/WebPage" class="banner-content">
      <h1 itemprop="name">Looking To Invest?</h1>
      <p itemprop="description">Become one of our Valued Investors today!</p>
    </div>
    <div class="btn-group"><a href="/investors" >Let's GO!</a></div>
  </div>
</div>

