<div class="propertysummary col-xs-12 col-md-12 ">

  <div class="col-md-6">
    <!--<div class="col-xs-12">
      <img class="col-xs-12" src="src/userassets/images/properties/{{property.masterimage}}" />
    </div>-->
    <div class="col-xs-12">
      <app-carousel [id]="property.propertyid" [tiles]="property.images"></app-carousel>
    </div>
    <div class="col-xs-12 col-sm-9 center">
      <h2>{{property.name}}</h2>
      <h3>{{property.location}}</h3>
      <div class="row">
        <div *ngFor="let propertyattribute of property.propertyattributes"
             class="col-xs-6 col-sm-4">
          <h4>{{propertyattribute.key}}</h4>
          {{propertyattribute.value}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-xs-12">
      <h4>Location</h4>
      <p class="about">
        <a [href]="property.zillow" target="blank"><img src="assets/images/icon-zillow.png" /></a>
        {{property.address}},
        {{property.city}}, {{property.state}}
        {{property.zip}}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">

    </div>
  </div>

  <div class="col-md-6">
    <div class="col-xs-12">
      <h4>Description</h4>
      <p class="about">{{property.description}}</p>
    </div>
  </div>

</div>
<div class="clearfix"></div>
<br />
<script>
  $('.jcarousel').jcarousel('reload', {
    animation: 'slow'
  });
</script>