.propertysummary {
  /* color and border */
  background-color: #e8e8e8;
  padding: 20px;
  /* rounded corners*/
  /*border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;*/
  /* drop shadow */
  /*-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
}

  .propertysummary h2 {
    color: #ff6a00;
    font-weight: bold;
    /*border-top: 2px solid #000;
    border-bottom: 2px solid #000;*/
  }

  .propertysummary h3 {
    color: #9d4d13;
  }

  .propertysummary h4 {
    color: black;
    text-decoration: underline;
    font-size: smaller;
  }

  .propertysummary img {
    margin-top: 5px;
  }

  .propertysummary about {
    text-align: justify;
    font-style: italic;
  }
  p {
    color:black;
  }
@media (max-width: 767px) {
  .carousel-indicators,
  .carousel-indicators li {
    cursor: default;
    pointer-events: none;
  }
}