<div class="container">
  <div class="row">
    <div class="col-xs-12 curl">
      <h1 class="center">{{squeezepage.Heading1}}</h1>
      <p class="center">{{squeezepage.SubHeading1}}</p>
      <hr />
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-1">
            <img alt="image" src="assets/images/gelbluelrg.jpg" width="29" height="27" />
          </div>
          <div class="col-xs-11">
            <h3>{{squeezepage.Description1}}</h3>
            <p>{{squeezepage.Content1}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <img alt="image" src="assets/images/gelbluelrg.jpg" width="29" height="27" />
          </div>
          <div class="col-xs-11">
            <h3>{{squeezepage.Description2}}</h3>
            <p>{{squeezepage.Content2}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <img alt="image" src="assets/images/gelbluelrg.jpg" width="29" height="27" />
          </div>
          <div class="col-xs-11">
            <h3>{{squeezepage.Description3}}</h3>
            <p>{{squeezepage.Content3}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1">
            <img alt="image" src="assets/images/gelbluelrg.jpg" width="29" height="27" />
          </div>
          <div class="col-xs-11">
            <h3>{{squeezepage.Description4}}</h3>
            <p>{{squeezepage.Content4}}</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 curl">
        <h2>{{squeezepage.Heading2}}</h2>
        <p>{{squeezepage.SubHeading2}}</p>
        <img alt="image" [src]="squeezepage.Image1" />
        <app-contact-request [contactrequest]="squeezepage.contactrequest"></app-contact-request>
        <p class="center">{{squeezepage.CallToAction1}}</p>
        <p class="center">{{squeezepage.CallToAction2}}</p>
      </div>

    </div>
  </div>
</div>

{{squeezepage.PageID}}
