/* Style the container with a rounded border, grey background and some padding and margin */
.container {
  background-color: #fff;
  text-align:center;
}

  /* Clear floats after containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Increase the font-size of a span element */
  .container span {
  }

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }
}
p{
  color:black;
}
h1 {
  color:black;
  font-weight:bold;
}
