<h1> Testimonials  <i class="fa fa-gratipay" aria-hidden="true"></i></h1>
<div class="container">
  <img src="assets/images/thomasp.jpg" alt="Avatar" style="width:90px">
  <p><span>T LaRocca P.A.</span> Owner of ROC Financial Group</p>
  <p>I've had the pleasure of working with Russell for many years. He has been a huge client of my company and we have had a very successful business relationship. Russell is always professional and his company is top notch. I respect Russell's business acumen and I would recommend working with him and his company to anyone..</p>
</div>

<div class="container">
  <img src="assets/images/rscaglione.jpg" alt="Avatar" style="width:90px">
  <p><span>R Scaglione</span>Licensed Real Estate Agent at Scaglione Rut miller Real Estate</p>
  <p>In my business interactions with Russell, I have always found him to have a motivating and positive energy, maintain focus and organization, and act with integrity. I would highly recommend others to consider forging a working relationship with Russell. </p>
</div>
<div class="container">
  <img src="assets/images/rcogburn.jpg" alt="Avatar" style="width:90px">
  <p><span>R Cogburn</span>Owner, Insure US Agency</p>
  <p>As a part time Real Estate Investor I have worked with Russ and consider him a knowledgeable professional and would trust his advise and decisions. </p>
</div>
<div class="container">
  <img src="assets/images/mvargas.jpg" alt="Avatar" style="width:90px">
  <p><span>M Vargas</span>Senior Vice President of Client Services</p>
  <p>Having worked with Russell in many capacities involving Real Estate acquisitions, property management, sales, investments and web marketing, I have personally seen first hand, his skills in analyzing all situations, maximizing profits with proper time management of a sales cycle, customer outreach, contract negotiations and property evaluation.</p>
</div>
<div class="container">
  <img src="assets/images/jgruzlewski.jpg" alt="Avatar" style="width:90px">
  <p><span>J Gruzlewski</span>US Channel Enterprise Business Development at Bitdefender</p>
  <p>    Having known and spoken with Russell for past year I can certainly say he is one of the most positive, accurate & creative businessman I've met in some time. Best of luck always!</p>
</div>