/* Style the container with a rounded border, grey background and some padding and margin */
.container {
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  margin: 16px 0;
}

  /* Clear floats after containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Increase the font-size of a span element */
  .container span {
  }

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }
}
.container a:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
p{
  color:black;
}
h1 {
  color:#850909;
  font-weight:bold;
}
i {
  color:crimson;
}
