<h1> Testimonials</h1>
<div class="col-xs-12">
  <div class="container col-xs-12 col-md-4">
    <img src="assets/images/thomasp.jpg" alt="Avatar" style="width:90px">
    <p>T LaRocca P.A.</p>
    <p>Owner of ROC Financial Group</p>
    <p>I've had the pleasure of working with Russell for many years. He has been a huge client of my company and we have had a very successful business relationship. Russell is always professional and his company is top notch. I respect Russell's business acumen and I would recommend working with him and his company to anyone..</p>
  </div>

  <div class="container col-xs-12 col-md-4">
    <img src="assets/images/rscaglione.jpg" alt="Avatar" style="width:90px">
    <p>R Scaglione</p>
    <p>Licensed Real Estate Agent at Scaglione Rut miller Real Estate</p>
    <p>In my business interactions with Russell, I have always found him to have a motivating and positive energy, maintain focus and organization, and act with integrity. I would highly recommend others to consider forging a working relationship with Russell. </p>
  </div>
  <div class="container col-xs-12 col-md-4">
    <img src="assets/images/rcogburn.jpg" alt="Avatar" style="width:90px">
    <p>R Cogburn</p>
    <p>Owner, Insure US Agency</p>
    <p>As a part time Real Estate Investor I have worked with Russ and consider him a knowledgeable professional and would trust his advise and decisions. </p>
  </div>
  </div>
  <div class="col-xs-12">
    <div class="container col-xs-12 col-md-4">
      <img src="assets/images/mvargas.jpg" alt="Avatar" style="width:90px">
      <p>M Vargas</p>
      <p>Senior Vice President of Client Services</p>
      <p>Having worked with Russell in many capacities involving Real Estate acquisitions, property management, sales, investments and web marketing, I have personally seen first hand, his skills in analyzing all situations, maximizing profits with proper time management of a sales cycle, customer outreach, contract negotiations and property evaluation.</p>
    </div>
    <div class="container col-xs-12 col-md-4">
      <img src="assets/images/jgruzlewski.jpg" alt="Avatar" style="width:90px">
      <p>J Gruzlewski</p>
      <p>US Channel Enterprise Business Development at Bitdefender</p>
      <p>Having known and spoken with Russell for past year I can certainly say he is one of the most positive, accurate & creative businessman I've met in some time. Best of luck always!</p>
    </div>
    <div class="container col-xs-12 col-md-4">
      <img src="assets/images/jstaton.jpg" alt="Avatar" style="width:90px">
      <p>J Staton</p>
      <p>Residential Real Estate Investor and Residential Redeveloper</p>
      <p>Russ is an outstanding business professional and leader in his industry. He is creative and passionate about everything he is involved in and I have had the pleasure of working with him in the past and hopefully again in the near future.</p>
    </div>
  </div>
