<div class="container-liquid col-xs-12"  [hidden]="navState==='Show'">
    <div class="navbar row">

<!--- Administration Section -->
      <div class="col-xs-12 titlebar">
        Administration
        <span class="collapser fa fa-angle-up" [hidden]="Compare(displayState.AdminPanel,'0')" (click)="SetPanel('Admin',false)"></span>
        <span class="collapser fa fa-angle-down" [hidden]="Compare(displayState.AdminPanel,'1')" (click)="SetPanel('Admin',true)"></span>
      </div>
      <div class="navsection" [hidden]="Compare(displayState.AdminPanel,'0')">
        <div class="col-xs-12 navitem clicklink" (click)="Show('Dashboard')"><i class="fa fa-th"></i> Dashboard</div>
      </div>
<!--- Views Section -->
      <div class="col-xs-12 titlebar">
        Views
        <span class="collapser fa fa-angle-up" [hidden]="Compare(displayState.ViewsPanel,'0')" (click)="SetPanel('Views',false)"></span>
        <span class="collapser fa fa-angle-down" [hidden]="Compare(displayState.ViewsPanel,'1')" (click)="SetPanel('Views',true)"></span>
      </div>
      <div class="navsection" [hidden]="Compare(displayState.ViewsPanel,'0')">
        <!--<div class="col-xs-12 navitem clicklink" (click)="Show('Dashboard')"><i class="fa fa-th"></i> Dashboard</div>-->
      </div>

<!--- Reports Section -->
      <div class="col-xs-12 titlebar">
        Reports
        <span class="collapser fa fa-angle-up" [hidden]="Compare(displayState.ReportsPanel,'0')" (click)="SetPanel('Reports',false)"></span>
        <span class="collapser fa fa-angle-down" [hidden]="Compare(displayState.ReportsPanel,'1')" (click)="SetPanel('Reports',true)"></span>
      </div>

      <div class="navsection" [hidden]="Compare(displayState.ReportsPanel,'0')">
        <div class="col-xs-12 navitem clicklink" (click)="Show('Dialer Survey')"><i class="fa fa-comments"></i> Dialer Survey</div>


        <div class="col-xs-12 titlebar">
          SMS Reports
          <span class="collapser fa fa-angle-up" [hidden]="Compare(displayState.ReportsSMS,'0')" (click)="SetPanel('ReportsSMS',false)"></span>
          <span class="collapser fa fa-angle-down" [hidden]="Compare(displayState.ReportsSMS,'1')" (click)="SetPanel('ReportsSMS',true)"></span>
        </div>

        <div class="navsection" [hidden]="Compare(displayState.ReportsSMS,'0')">
          <div class="col-xs-12 subnavitem clicklink" (click)="Show('SMS Block Reasons')"><i class="fa fa-question-circle-o"></i> SMS Block Reasons</div>
          <div class="col-xs-12 subnavitem clicklink" (click)="Show('SMS Blocked')"><i class="fa fa-ban"></i> SMS Blocked</div>
          <div class="col-xs-12 subnavitem clicklink" (click)="Show('SMS Responses')"><i class="fa fa-mobile"></i> SMS Responses</div>
          <div class="col-xs-12 subnavitem clicklink" (click)="Show('SMS Send Stats')"><i class="fa fa-line-chart"></i> SMS Send Stats</div>

        </div>
      </div>

      <div class="col-xs-12 seperatorbar">&nbsp;</div>
      <div class="col-xs-12 navitem clicklink" (click)="Show('About')"><i class="fa fa-question-circle-o"></i> About</div>
    </div>
</div> 