.titlebar {
  background-color: lightgray;
}

.subtitlebar {
  background-color: lightblue;
}

.seperatorbar {
  line-height:3px;
  background-color: black;
}

.collapser:hover {
    cursor:pointer;
    font-weight:bold;
}


span {
  float: right;
}
