<div class="clearfix"></div>
<div [ngStyle]="{'background-image': 'url(' + background + ')'}" class="container-fluid xs-col-12 videoshowcase">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <video class="col-xs-12" [src]="video" controls [poster]="poster">
          Sorry, your browser doesn't support embedded videos,
          but don't worry, you can
          <a [href]="video">download it</a>
          and watch it with your favorite video player!
        </video>

        <!--<iframe width="100%" height="330px" src="https://www.youtube.com/embed/KnFFXepV3FQ?showinfo=0" frameborder="0" allowfullscreen></iframe>-->
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="col-xs-1"></div>
          <div class="col-xs-12 col-md-10">
                <div class="col-xs-12 title" >{{title}}</div>
                <div class="col-xs-12 innerbox">
                  <app-contact-request [contactrequest]="contactrequest"></app-contact-request>
                  <br />
                </div>
                <div class="col-xs-12">&nbsp;</div>
          </div>
          <div class="col-xs-1"></div>          
      </div>
    </div>
    
  </div>
  <br />
</div>
