<div class="clearfix"></div>
<div [ngStyle]="{'background-image': 'url(' + background + ')'}" class="container-fluid titlepage xs-col-12 videoshowcase">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <iframe width="100%" height="300px" src="http://www.youtube.com/embed/videoseries?list=PLcuq0s-kYdGV3s--5GBtZd9mDky9Gz95w&amp;hl=en_US&amp;rel=0&amp;autoplay=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="col-xs-1"></div>
          <div class="col-xs-12 col-md-10">
                <div class="col-xs-12 title" >{{title}}</div>
                <div class="col-xs-12 innerbox curl">
                  <app-contact-request [contactrequest]="contactrequest"></app-contact-request>
                  <br />
                </div>
                <div class="col-xs-12">&nbsp;</div>
          </div>
          <div class="col-xs-1"></div>          
      </div>
    </div>
    
  </div>
  <br />
</div>
