<svg xmlns="http://www.w3.org/2000/svg"
     version="1.1"
     viewBox="0 0 700 240"
     class="icon">
  <title> Delete Security Level Button</title>
  <desc> Button to delete security level, lock is thrown into trash can.</desc>

  <!-- Gradients -->
  <defs>
    <linearGradient id="primary" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop class="ba1-2" offset="0%" />
      <stop class="ba1-1" offset="30%" />
    </linearGradient>
    <linearGradient id="secondary" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop class="ba2-2" offset="0%" />
      <stop class="ba2-1" offset="30%" />
    </linearGradient>

    <linearGradient id="silver" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop class="ba3-2" offset="0%" />
      <stop class="ba3-1" offset="30%" />
    </linearGradient>

    <linearGradient id="pencil" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop class="ba4-2" offset="0%" />
      <stop class="ba4-1" offset="50%" />
    </linearGradient>

    <linearGradient id="pencilpoint" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop class="ba4-1" offset="0%" />
      <stop class="ba4-2" offset="50%" />
    </linearGradient>

    <linearGradient id="pencileraser" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop class="ba5-1" offset="0%" />
      <stop class="ba5-2" offset="50%" />
    </linearGradient>


  </defs>
  <g class="padlock">
    <g class="tasks" transform="translate(-50,20) scale(1.5)">
      <g class="component">
        <rect transform="translate(70,70)"
              class="lock"
              height="50"
              width="50"
              rx="5" ry="5" />

        <path class="check"
              d="M75 75
                  L95 125
                  L200 70
                  L105 105
                  Z" />
      </g>

      <g class="task">
        <path transform="translate(30,5) rotate(-10,180,180) scale(.5)"
              class="initials"
              d="M175 175
				L170 150
				M165 160
				Q200 130 170 165
				Q200 130 165 160
				M170 160
				L190 175
				M180 175
				L180 150
				M180 150
				L195 175
				M200 150
				L185 185
				Q130 170 200 165
				Q130 170 185 185
				Z" />
      </g>
    </g>
  </g>

  <g class="padlocks" transform="translate(20,20)">
    <g class="garbagecanfull">
      <path class="secondary garbagecan lock"
            d="M100 100
                    L110 180
                    A10 5 0 1 0 190 180
                    L200 100
                    Z" />
      <ellipse class="hole" cx="150" cy="100" rx="50" ry="20" />

      <path class="secondary"
            d="M120 185
                    L112 125
                    M140 195
                    L136 130
                    M160 195
                    L160 130
                    M180 185
                    L184 125
                  Z" />

      <path class="primary"
            d="M130 190
                    L124 127
                    M150 195
                    L148 130
                    M170 190
                    L172 130
                    M190 180
                    L196 120
                  Z" />

      <path transform="translate(90,80) rotate(-10,180,180) scale(.5)"
            class="secondary initials"
            d="M175 175
				L170 150
				M165 160
				Q200 130 170 165
				Q200 130 165 160
				M170 160
				L190 175
				M180 175
				L180 150
				M180 150
				L195 175
				M200 150
				L185 185
				Q130 170 200 165
				Q130 170 185 185
				Z" />

    </g>
  </g>
  <text x="65" y="13" transform="scale(5,7)">Delete</text>
  <text x="50" y="33" transform="scale(5,7)">Component</text>

</svg>
