<div class="col-xs-12 center">
  Block Reason <input type="text" [(ngModel)]="toadd" />
  <button (click)="addReason()">Add Reason</button>
</div>

<div class="container report">
  <div class="row record columnheader">
    <div class="col-xs-1">
      Action
    </div>
    <div class="col-xs-11">
      Block Reason
    </div>
  </div>
  <div class="row record" *ngFor="let row of report">
    <div class="delete clicklink col-xs-1" (click)="delReason(row.BlockReason);">
      <span class="fa fa-trash-o"></span>
    </div>
      <div class="col-xs-11">
        {{row.BlockReason}}
      </div>
    </div>
</div>