<app-title [title]='"Dashboard"'></app-title>
<app-tool-bar 
              [visitorid]="visitorid" 

              [showcompany]="true" [thecompany]="thecompany" (newthecompany)="thecompanyChange($event)"

              [showthedate]="true" [thedate]="thedate" (newthedate)="thedateChange($event)"
>
</app-tool-bar>
<div class="container-liquid col-xs-12  col-sm-8 col-md-9 col-lg-10 maindisplay">
  <div class="row">
    <div class="col-xs-12">
      <app-pie-texting [thedate]="thedate" [thecompany]="thecompany"></app-pie-texting>      
    </div>
  </div>
</div>
