<app-title [title]='"SMS Blocked Numbers"'></app-title>
<app-tool-bar [thedate]="thedate" (newthedate)="thedateChange($event)"></app-tool-bar>
<div class="container report">
  <div class="row record columnheader">
    <div class="col-xs-6">
      Date
    </div>
    <div class="col-xs-6">
      Phone
    </div>
  </div>
  <div class="row record" *ngFor="let row of report">
    <div class="col-xs-6">
      {{row.Blocked}}
    </div>
    <div class="col-xs-6">
      {{row.Phone}}
    </div>
  </div>
</div>