<app-header></app-header>
<app-video-showcase title="Register for our Newsletter" background="/assets/images/tropical.jpg" video="assets/videos/IBuyAsIs3.mp4" poster="assets/videos/IBuyAsIs3.jpg"></app-video-showcase>
<!--<app-video-showcase title="Register for our Newsletter" background="/assets/images/tropical.jpg" video="https://www.youtube.com/embed/KnFFXepV3FQ?list=PLcuq0s-kYdGV3s--5GBtZd9mDky9Gz95w"></app-video-showcase>-->
<app-featured></app-featured>
<app-homeweare></app-homeweare>
<div class="container">
  <div class="col-xs-12 center col-md-12 testimonials">
    <app-testimonials></app-testimonials>
  </div>
</div>
    <div class="clearfix"></div>
    <app-footer></app-footer>





