<app-header></app-header>
<!--<app-video-showcase title="Register for our Newsletter" background="/assets/images/tropical.jpg" video="assets/videos/IBuyAsIs3.mp4" poster="assets/videos/IBuyAsIs3.jpg"></app-video-showcase>-->
<!--<app-video-showcase title="Register for our Newsletter" background="/assets/images/tropical.jpg" video="https://www.youtube.com/embed/KnFFXepV3FQ?list=PLcuq0s-kYdGV3s--5GBtZd9mDky9Gz95w"></app-video-showcase>-->

  <div role="main" class="hidden-xs hidden-sm">
    <app-carousel [id]="'homecarousel'" [tiles]="tiles"></app-carousel>
  </div>
  <div class="video">
    <app-video-showcase title="Register For The VIP Buyers List" background="/assets/images/skyview.jpg" video="assets/videos/IBuyAsIs3.mp4" poster="assets/videos/IBuyAsIs3.jpg"></app-video-showcase>
  </div>
<div class="col-xs-12 hidden-md hidden-lg">
  <app-homeweare></app-homeweare>
</div>
  <div class="container">
    <div class="col-xs-12 center col-md-12 testimonials">
      <app-testimonials></app-testimonials>
    </div>
  </div>
<div class="clearfix"></div>
<app-footer></app-footer>





