<app-pagetitle [title]='title'></app-pagetitle>
<div class="container">
  <h2>We are...</h2>

  <p>I Buy As Is, Inc. is the areas’ premier real estate solutions company, and since our inception we have been helping homeowners along with improving communities in each city we work in.</p>
  <p>Through our extensive knowledge of the business, network of resources, and years of expertise, we can assist homeowners with a wide variety of real estate problems. We pride ourselves on our reputation for working one-on-one with each customer to handle their individual situations.</p>
  <p>With the ability to directly purchase homes and make cash offers, we can create an extremely fast, and hassle-free transaction.</p>
  <p>In addition, we re-develop many single family and multi-family properties throughout the state with the intention of revitalizing communities and encouraging home ownership.</p>
  <p>Our mission is to rejuvenate neighborhoods and increase the standard of living by improving the overall quality of housing for the residents. Call us today and let’s see how we can work together!</p>
  <h3>Real Estate Specialties</h3>
  <ul>
    <li>Foreclosure Avoidance Debt Removal or Renegotiation</li>
    <li>Bank Owned Property & REO’s</li>
    <li>Sell Your Property Without Realtor Commissions</li>
    <li>Solving Title Issues</li>
    <li>Vacant Properties & Houses in Major Disrepair</li>
    <li>Environmental or Structural Problems</li>
    <li>Apartment & House Rental Specialists</li>
    <li>Bankruptcy Over-Leveraged Properties</li>
    <li>Clearing up Judgments or Outside Liens</li>
  </ul>
  <h3>And many others… </h3>
  <p>We not only purchase property but we also sell homes, many of which are completely renovated and in move-in condition. Whether you are dreaming of becoming a first-time home buyer or looking to upgrade your current home, we can help.</p>
  <p>I Buy As Is, Inc. is truly committed to helping each individual customer. We focus on fast response, integrity and over-delivering on customer service. By putting the customer’s needs first, whether selling or buying a home, we can help you realize your real estate goals.</p>
  <h3>Giving Back</h3>
  <p>I Buy As Is, Inc. Gives network of companies dedicated to giving back to our community. We are passionate about philanthropy and we have had the honor of working with amazing organizations like Habitat for Humanity and the Red Cross.</p>


  <p>I Buy As Is, Inc. is the Tampa Bay area’s prime real estate investment company. With over 45 years of combined expertise we are able to help homeowners overcome a multitude of financial situations. We recognize that each situation is different, we take great pride in catering to each individual homeowners needs. We are capable of buying homes and making cash offers with a fast and efficient process. We also rehabilitate numerous properties throughout our area in order to assist in the redevelopment of our local communities with a proven track record.</p>

  <h2>Our team works for you and yours.</h2>

  <p>We specialize in :</p>
  <ul>
    <li>Avoiding Foreclosure</li>
    <li>Defaulted Mortgage Payments</li>
    <li>Divorce, Land Disputes</li>
    <li>Owed Tax Debts, Liens</li>
    <li>Costly Home Repairs</li>
    <li>Tax Delinquencies</li>
    <li>Probate or Estate Sale</li>
    <li>Non Owner Occupied</li>
  </ul>
</div>





