.titlepage {
  background-color: #40404b;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h1 {
  color:white;
  font-family: 'Trebuchet MS';
  font-size-adjust: inherit;
}
