.titlepage {
  background-color: #d0d0d0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #a92727;
}
h1 {
  color:#c85858;
  font-family: 'Trebuchet MS';
  font-size-adjust: inherit;
}
