.titlepage {
  background-image: url('/assets/images/Black_World_Banner.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  
}
h1 {
  color:white;
  font-family: 'Trebuchet MS';
  font-size-adjust: inherit;
}
