.body {
  background:#fff;
  color:#000000;
}

.primary {
  background:#ff0000;
  color:#000000;
}

.secondary {
  background: #2989e6;
  color: #ffffff;
}

.alternate {
  background-color: lightblue;
}

.clicklink {
  cursor:default;
}

.clicklink:hover {
  cursor:pointer;
}


.center {
  text-align:center;
}

.titlebar,
.subtitlebar {
  border-bottom:2px inset #808080;
}

.hidden {
  visibility:hidden;
}

.navbar {
  background:lightblue;
  border-right: inset 3px #808080;

}

.navitem {
  background: #ffffff;
  border-bottom: solid 1px #000000;
  color:black;
  font-style:normal;
}

.navitem:hover {
  background: #ffffff;
  border-bottom: solid 1px #000000;
  color:blue;
  font-style:italic;
}

.subnavitem {
  background: #faf2ad;
  color:black;
  border-bottom: solid 1px #000000;
  font-style: normal;
}
.subnavitem:hover {
  background: #faf2ad;
  color:blue;
  border-bottom: solid 1px #000000;
  font-style: italic;
}

.maindisplay {
  background:#ffffff;
}

.report {
  background-color: #ffffff;
}

.record {
  border: solid 1px #000;
}

.columnheader {
  background-color: gray;
  color: white;
  font-weight: bold;
}

.delete {
  color:red;
}


.title {
  background-color:blue;
  font-size:small;
  font-weight:bold;
  color:white;
  text-align:center;
}

.toolbar {
  background-color: darkgray;
  border-bottom: solid 1px black;
  vertical-align: middle
}

.tool {
  /*display:table-cell;
  vertical-align:middle;*/  
  display:flex;
  align-items:center;
}

.tool label, 
.tool input{
  font-weight:normal;
  font-size:small;
  /*background-color:pink;*/
  margin: auto 0px auto 0px;
}


  .tool label
  {
    
  }


/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
  .xs-hide,
  .xs-hide-up,
  .xs-hide-down,
  .sm-hide-down,
  .md-hide-down,
  .lg-hide-down{
    visibility: hidden;
    display: none;
  }
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
  .sm-hide,
  .sm-hide-up,
  .xs-hide-up,
  .sm-hide-down,
  .md-hide-down,
  .lg-hide-down
  {
    visibility: hidden;
    display: none;
  }
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .md-hide,
  .md-hide-up,
  .sm-hide-up,
  .xs-hide-up,
  .md-hide-down,
  .lg-hide-down{
    visibility: hidden;
    display: none;
  }
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
  .lg-hide
  .lg-hide-up,
  .xs-hide-up,
  .sm-hide-up,
  .md-hide-up,
  .lg-hide-down{
    visibility:hidden;
    display:none;
  }
}




