.body {
  background:#faf2ad;
  color:#000000;
}

.primary {
  background:#ff0000;
  color:#000000;
}

.secondary {
  background: #2989e6;
  color: #ffffff;
}

.clicklink {
  cursor:default;
}

.clicklink:hover {
  cursor:pointer;
}


.center {
  text-align:center;
}

.titlebar {
  border-bottom:2px inset #808080;
}

.hidden {
  visibility:hidden;
}

.navbar {
  background:lightblue;
  border-right: inset 3px #808080;

}

.navitem {
  background: #ffffff;
  border-bottom: solid 1px #000000;
}


.maindisplay {
  background:#ffffff;
}