.body {
  background:#faf2ad;
  color:#000000;
}

.primary {
  background:#ff0000;
  color:#000000;
}

.secondary {
  background: #2989e6;
  color: #ffffff;
}

.clicklink {
  cursor:default;
}

.clicklink:hover {
  cursor:pointer;
}


.center {
  text-align:center;
}

.titlebar {
  border-bottom:3px groove #808080;
}

.hidden {
  visibility:hidden;
}