<!--<!--Head-->
  <!--Map-->
  <agm-map [latitude]="lat"
           [longitude]="lng"
           [zoom]="zoom"
           [disableDefaultUI]= "false"
           [zoomControl]="false"
           (mapClick)="mapClicked($event)">
    <agm-marker *ngFor="let m of markers;let i = index"
                (markerClick)="clickedMarker(m, i)"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
    </agm-marker>
  </agm-map>
  <div class="how-to">
    <p class="fa fa-hand-o-up">&nbsp;Pinch to zoom.</p>
    &nbsp;&nbsp;&nbsp;
    <p class="fa fa-plus-circle">&nbsp;Add your home.</p>
    &nbsp;&nbsp;&nbsp;
    <p class="fa fa-eye">&nbsp;See it here.</p>
  </div>
