.button {
  background-color: #30303c;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  .button:hover {
    background-color: #202028;
  }
