<app-pagetitle [title]='title'></app-pagetitle>
<div class="container">
  <h2>Are You a Real Estate Investor?</h2>
  <p>
    Looking to buy wholesale properties or invest your hard-earned money with returns?
    Ill Buy Any House LLC has the experience, know-how, and infra-structure to offer you opportunities in your real estate investment endeavors, whether you are looking for a rehab project to work on OR an alternative to investing your money.
    Please call us today at 813.444.4567 if you’d like to learn more about the options that we offer.
  </p>
  <h3>Contact Information</h3>


  <app-contact-request [contactrequest]="contactrequest"></app-contact-request>


  <br /><br />
  <p>
    Investing in financial and real estate markets involves a substantial degree of risk. There can be no assurance that the investment objectives described herein will be achieved.
  </p>

  <sub>
    ** Past performance is no guarantee of future performance or that such investment opportunities will become available. These materials are intended only for discussion purposes and should not be relied upon in evaluating the merits of investing in any investment or security. Potential investors who express an interest in investing will be provided with detailed information and other documents offering documents.
  </sub>
</div>