<app-pagetitle [title]='title'></app-pagetitle>
<div class="container">
  <h2>Are You a Real Estate Investor?</h2>
  <p>
    Looking to buy wholesale properties or invest your hard-earned money with returns?
    Ill Buy Any House LLC has the experience, know-how, and infra-structure to offer you opportunities in your real estate investment endeavors, whether you are looking for a rehab project to work on OR an alternative to investing your money.
    Please call us today at 813.444.4567 if you’d like to learn more about the options that we offer.
  </p>
  <h3>Contact Information</h3>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <label for="first_name">*First Name</label><input [(ngModel)]="investorrequest.FirstName" id="first_name" class="col-xs-12" placeholder="First Name" />
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="last_name">*Last Name</label><input [(ngModel)]="investorrequest.LastName" id="last_name" class="col-xs-12" placeholder="Last Name" />
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="email">*Email</label><input [(ngModel)]="investorrequest.EMail" id="email" class="col-xs-12" placeholder="Email" />
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="phone">*Phone</label><input [(ngModel)]="investorrequest.Phone" id="phone" class="col-xs-12" placeholder="Phone" />
    </div>
    <div class="col-xs-12">
      <label for="address1">*Address 1</label><input [(ngModel)]="investorrequest.Address1" id="address1" class="col-xs-12" placeholder="Address 1" />
    </div>
    <div class="col-xs-12">
      <label for="address2">*Address 2</label><input [(ngModel)]="investorrequest.Address2" id="address2" class="col-xs-12" placeholder="Address 2" />
    </div>
    <div class="col-xs-6 col-sm-4">
      <label for="city">*City</label><input [(ngModel)]="investorrequest.City" id="city" class="col-xs-12" placeholder="City" />
    </div>
    <div class="col-xs-6 col-sm-4">
      <label for="state">*State</label><input [(ngModel)]="investorrequest.State" id="state" class="col-xs-12" placeholder="State" />
    </div>
    <div class="col-xs-6 col-sm-4">
      <label for="zip">*Zip Code</label><input [(ngModel)]="investorrequest.Zip" id="zip" class="col-xs-12" placeholder="Zip" />
    </div>
    <div class="col-xs-12">
      <label for="funds">*Funds I have available</label><input [(ngModel)]="investorrequest.funds" id="funds" class="col-xs-12" placeholder="funds" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="personal">Personal Funds</label><input [(ngModel)]="investorrequest.personal" id="personal" class="col-xs-12" placeholder="Personal Funds" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="ira">IRA Funds</label><input [(ngModel)]="investorrequest.ira" id="ira" class="col-xs-12" placeholder="IRA Funds" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="business">Business Funds</label><input [(ngModel)]="investorrequest.business" id="business" class="col-xs-12" placeholder="Business Funds" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="available">Date Funds Available</label><input [(ngModel)]="investorrequest.available" id="available" class="col-xs-12" placeholder="available" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="terms">Length Terms</label><input [(ngModel)]="investorrequest.terms" id="terms" class="col-xs-12" placeholder="terms" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="payments">Payment Preference</label><input [(ngModel)]="investorrequest.payments" id="payments" class="col-xs-12" placeholder="Payment Preference" />
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="learn">Learn About Self Directed IRAs</label><input [(ngModel)]="investorrequest.learn" id="learn" class="col-xs-12" placeholder="Self Directed IRAs" />
    </div>
    <div class="col-xs-12">
      <label for="comments">Comments</label><input [(ngModel)]="investorrequest.comments" id="comments" class="col-xs-12" placeholder="Comments" />
    </div>
    <div class="col-xs-12">
      <br />
      <button>Contact Me</button>
    </div>

  </div>




  <br /><br />
  <p>
    Investing in financial and real estate markets involves a substantial degree of risk. There can be no assurance that the investment objectives described herein will be achieved.
  </p>

  <sub>
    ** Past performance is no guarantee of future performance or that such investment opportunities will become available. These materials are intended only for discussion purposes and should not be relied upon in evaluating the merits of investing in any investment or security. Potential investors who express an interest in investing will be provided with detailed information and other documents offering documents.
  </sub>
</div>