body {
}

.logo {
  position: relative;
  top: 5px;
}

.header {
  /*background-color: #025c99;*/
  /*background-image: url('/assets/images/Black_World_Banner.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #000;
  color: white;
  font-weight:bold;
}

.banner {
  background-color: #333333;
  color: #fff;
}

.topmenu {
  height: 100%;
}

nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner div {
  display: table;
}

.banner a:link,
.banner a:visited {
  color: #ffffff;
}


.topnav {
}

  .topnav a,
  .topnav a:link,
  .topnav a:visited {
    color: #ffffff;
  }

  .topnav a:hover {
    color: #f64c4c;
    font-weight: bold
  }
.nav a:hover {
  background-color: #b41e1e;
  font-weight: bold;
}
.phone {
  font-size: larger;
  color:red;
  font-weight:bold;
}

.nav nav-pills {
  color: green;
}
.head {
  margin: 0px auto 0px auto;
}
.center {
  fill:aqua;
}