.ttnav {
  background-color: #30303c;
  color: #fff;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #606075;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
  margin-top: 25px;
  letter-spacing: 2px;
}

.nav:hover {
  font-weight: bold;
}


.iconnav {
  background-color: #30303c;
  color: #fff;
  width: 100%;
}
.mobi {
  margin-top: 10px;
  margin-bottom:5px;
}
.landy {
  margin-bottom:20px;
}