<div class="container report">
  <div class="row record columnheader">
    <div class="col-xs-4 col-sm-2">
      Date
    </div>
    <div class="col-xs-4 col-sm-2">
      From
    </div>
    <div class="col-xs-4 col-sm-2">
      On
    </div>
    <div class="col-xs-12 col-sm-6">
      Said
    </div>
  </div>
  <div class="row record" *ngFor="let response of report">
    <div class="col-xs-4 col-sm-2">
      {{response.Received}}
    </div>
    <div class="col-xs-4 col-sm-2">
      {{response.PhoneFrom}}
    </div>
    <div class="col-xs-4 col-sm-2">
      {{response.PhoneIn}}
    </div>
    <div class="col-xs-12 col-sm-6 message">
      {{response.Body}}
    </div></div>
</div>