<app-header></app-header>
<app-pagetitle [title]='title'></app-pagetitle>
<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-4 curl">
    <h2>US Postal Mail</h2>
    <p>Please send your correspondence to:</p>
    <h3>5033 W. Laurel St.<br />Suite 100<br />Tampa, Fl 33607</h3>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 curl">
    <h2>By E-Mail</h2>
    <p>We always respond to email, just send your request to:</p>
    <br />
    <h3><a href="mailto:info@ibuyasis.com">info@ibuyasis.com</a></h3>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 curl">
    <h2>By Phone</h2>
    <br />
    <p>We are always happy to take your calls.</p>
    <br />
    <h3>(813) 444-4567</h3>
  </div>
  <br />
  </div>
<br/>
<div class="clearfix"></div>
<app-footer></app-footer>