<app-header></app-header>
<app-pagetitle [title]='title'></app-pagetitle>
<div itemscope itemtype="http://schema.org/UserComments" role="main" class="container details">
  <div itemprop="name" class="col-xs-12 title">
    <h1 class="title">Contact Us</h1>
  </div>
  <div itemprop="email" class="col-xs-12 col-sm-6 col-md-4 ">
    <h2>By E-Mail</h2>
    <i class="fa fa-share fa-5x" aria-hidden="true"></i>
    <p>We always respond to email, just send your request to:</p>
    <br />
    <h3><a href="mailto:info@ibuyasis.com">info@ibuyasis.com</a></h3>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 ">
    <h2>By Phone</h2>
    <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
    <p>We are always happy to take your calls.</p>
    <br />
    <h3>(813) 444-4567</h3>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br />
      <div class="contact">
        <app-contact-request [contactrequest]="contactrequest"></app-contact-request>
      </div>
      <br />
    </div>
  </div>
  </div>
<div class="clearfix"></div>
<app-footer></app-footer>
