<app-header></app-header>
<app-pagetitle [title]='title'></app-pagetitle>
<div class="container">
  <h3>Selling Your Home? </h3>
  <p>Do you need to sell your home in the next 60 days? We can make this possible! No matter the situation we are here to help. After receiving your information, we can make you a cash offer within 48 hours. If the offer is agreed upon we can close quickly with no commission or closing costs to you. By speaking with our local real estate professionals, you are granted the opportunity to sell your home with no additional costs. We have over 45 combined years of experience in real estate. By submitting your information we are able to more accurately calculate a cash offer for you by compiling the proper research on your property. </p>

  <h3>Sell Your Home <u>AS IS!</u></h3>
  <p>We will buy your house for cash offer now! Your home gets our immediate attention. We work diligently to buy your house and insure that you sell your home as is, so that every cash offer transaction goes smoothly and that you are kept informed throughout the numerous steps involved in selling your house.</p>
  <p>Since we are private investors and not realtors we buy houses for cash, you pay no fees or commissions and you sell your home <b><u>as is</u></b>.</p>
  <p>When you do business with <b>I Buy As Is</b>, you will find us knowledgeable and helpful, and we will answer all your questions honestly and truthfully about selling your home fast. We have several different options to help relieve you of selling your house that has become a financial burden so we may put you and your family on the road to relief.</p>
  <h3>Contact Us Today!</h3>

  <p> Call (813) 444-4567 or just fill out the form bellow, we will call back and talk to you about selling your house after we do our due diligence so we can best advise you on how you can sell your home fast.</p>
<div class="col-md-12 steps">
  <h2>Sell your home in just 4 steps:</h2>
  <div class="col-md-3">
    <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"style="color:#ff9400"></i>
    <p>
      Step 1:<b> FILL OUT</b> the form below or <b>CALL</b> us.
    </p>
  </div>
  <div class="col-md-3">
    <i class="fa fa-mobile fa-5x" aria-hidden="true" style="color:crimson"></i>
    <p>
      Step 2: <b>WE'll</b> call you!
    </p>
  </div>
  <div class="col-md-3">
    <i class="fa fa-thumbs-up fa-5x" aria-hidden="true" style="color:#2d518a"></i>
    <p>
      Step 3: Do you like the <b>OFFER</b> we proposed?
    </p>
  </div>
  <div class="col-md-3">
    <i class="fa fa-money fa-5x" aria-hidden="true" style="color:#282121"></i>
    <p>
      Step 4: Get the <b>CASH</b>!
    </p>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      <br />
      <div class="col-xs-12 innerbox ">
        <app-contact-request [contactrequest]="contactrequest"></app-contact-request>
      </div>
      <br />
    </div>
  </div>
</div>
  <div class="clearfix"></div>
  <app-footer></app-footer>