h2 {
  color:#000000;
}
h3 {
  color: #1367a7;
  font-weight: bold;
}
h4 {
  color: #000000;
  font-size:15px;
}
p {
  color: #000000;
}
.box {
  background-color: white;
  box-shadow: 2px 5px 10px #053457;
  padding: 0px 0px 0px 0px;
  margin-top: 15px;
}
 .box:hover {
    box-shadow: 1px 1px 30px #1367a7;
  }
img {
  margin: 0px 0px 0px 0px !important;
}
.center {
  text-align:center;
}
.viewon {
  padding-top:5px;
  padding-bottom: 5px;
  background-color: #1367a7;
  background-repeat:repeat-x;
  font-weight:bold;
  color:#ffffff;
}
