h2 {
  color:#000000;
}
h3 {
  color: #811919;
  font-weight: bold;
}
h4 {
  color: #000000;
  font-size:15px;
}
p {
  color: #000000;
}
.box {
  background-color: white;
  box-shadow: 2px 5px 10px #572705;
  padding: 0px 0px 0px 0px;
}
 .box:hover {
    box-shadow: 1px 1px 30px #ff6a00;
  }
img {
  margin: 0px 0px 0px 0px !important;
}
.center {
  text-align:center;
}