.teammember {
  /* color and border */
  background-color: lightgrey;
  border: 1px solid #000000;
  /* rounded corners*/
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  /* drop shadow */
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  box-shadow: 0px 0px 0px 3px;
}

  .teammember h2 {
    color: black;
    font-weight: bold;
  }

  .teammember h3 {
    color: darkred;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .teammember h4 {
    color: #000000;
    font-size: small;
    font-weight: bold;

  }


  .teammember img {
    margin-top: 32px;
    border-radius: 25px;
    border: 3px solid #ff0000;
    padding: 5px;

  }

  .teammember about {
    text-align: justify;
    font-style: italic;
    
  }
