<div class="teammember col-xs-12">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <img class="col-xs-12" src="{{teammember.image}}" /> 
    </div>
    <div class="col-xs-12 col-sm-9">
      <h2>{{teammember.name}}</h2>
      <h3>{{teammember.title}}</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h4>Passions</h4>
          {{teammember.passions}}
          <h4>Region</h4>
          {{teammember.region}}
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Motto</h4>
          {{teammember.motto}}
          <h4>Favorite Quote</h4>
          {{teammember.quote}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>About</h4>
      <p class="about">{{teammember.about}}</p>
    </div>
  </div>

</div>
<div class="clearfix"></div>
<br />