<div class="">
  <a [href]="facebook"  [target]="_blank"><div class="col-xs-2"><i class="fa fa-facebook col-xs-1 fa-2x"></i></div></a>&nbsp;
  <a [href]="twitter"   [target]="_blank"><div class="col-xs-2"><i class="fa fa-twitter col-xs-1 fa-2x"></i></div></a>&nbsp;
  <a [href]="linkedin"  [target]="_blank"><div class="col-xs-2 "><i class="fa fa-linkedin col-xs-1 fa-2x"></i></div></a>&nbsp;
  <a [href]="googleplus"[target]="_blank"><div class="col-xs-2"><i class="fa fa-google-plus col-xs-1 fa-2x"></i></div></a>&nbsp;
  <a [href]="youtube"   [target]="_blank"><div class="col-xs-2"><i class="fa fa-youtube-play col-xs-1 fa-2x"></i></div></a>&nbsp;
  <!--<div class="col-xs-1"><a href="" target="_blank"><i class="fa fa-instagram col-xs-1"></i></a></div>-->
  <!--<div class="col-xs-1"><a href="" target="_blank"><i class="fa fa-pinterest col-xs-1"></i></a></div>-->
  <!---
                <i class="fa fa-bitbucket"></i>
                <i class="fa fa-digg"></i>
                <i class="fa fa-dropbox"></i>
                <i class="fa fa-flickr"></i>
                <i class="fa fa-foursquare"></i>
                <i class="fa fa-github"></i>
                <i class="fa fa-google"></i>
                <i class="fa fa-jsfiddle"></i>
                <i class="fa fa-reddit"></i>
                <i class="fa fa-skype"></i>
                <i class="fa fa-soundcloud"></i>
                <i class="fa fa-spotify"></i>
                <i class="fa fa-stack-exchange"></i>
                <i class="fa fa-stack-overflow"></i>
                <i class="fa fa-steam"></i>
                <i class="fa fa-stumbleupon"></i>
                <i class="fa fa-tumblr"></i>
                <i class="fa fa-vimeo-square"></i>
                <i class="fa fa-vine"></i>
                <i class="fa fa-windows"></i>
                <i class="fa fa-wordpress"></i>
                <i class="fa fa-yahoo"></i>
  -->

</div>