<div class="col-md-1"></div>
<svg 
     id="Layer_1" 
     data-name="Layer 1" 
     xmlns="http://www.w3.org/2000/svg" 
     viewBox="0 0 1024 128" 
     class="logo col-xs-12 col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2" 
     >
  <title>logo</title>
  <circle 
          id="sun" 
          class="cls-1" 
          cx="120.51" 
          cy="60.5" 
          r="30.5"/>
  <polygon 
           id="roof" 
           class="cls-4" 
           points="
              123.55    51.45 
              150.79    7.16 
              181.2     14 
              181.2     4.23 
              193.87    0 
              201.47    5.21 
              201.47    17.59 
              201.47    19.21 
              217.31    22.47 
              208.44    27.36 
              213.51    44.62 
              175.5     33.87 
              170.43    33.87 
              123.55    51.45" />

  <path 
        id="house" 
        class="cls-4" 
        d="
          M 271.82,   125.44
          l -.32      -58
          L 259.15,   33,
            245.53,   56.4,
            224.31,   65.2
          l -43.72    -9.77
          v 69.69
          H 103.3
          l 4.75,     7.16
          H 295.27
          l 3.8       -6.84
          Z
          m -54.17    -21.49
          H 192
          V 72
          l 25.66,    5.54
          v 26.38
          Z
          m 52.59,    2.61
          H 254.08
          v -30
          l 16.16,    6.84
          v 23.12
          Z" transform="translate(-6.99 -17)" />
  
  <path 
        id="strike" 
        class="cls-strike" 
        d="
          M 212.27,   83.43
          q -10.25    -.05
            -20.19    .37
          V 84
          a .19       .19,
            0,        0,
            0         -.19
            -.19
          C 84.79,    88.26,
            6.48,     130.46,
            7,        132.28S93,
            91.68,    212.59,
            92.55
          l 3.86,     0
          a .19       .19,
            0,        0,
            0,        .19
            -.19
          l .08       -8.9
            -.08,     8.9
          a .19       .19,
            0,        0,
            0,        .18
            .19
          C 340.55,   94.55,
            427.4,    142,
            428,      140.1
          S 336.38,   84.07,
            212.27,   83.43
          Z" 
        transform="translate(-6.99 -17)" />
    <path 
          id="strike2" 
          class="cls-strike2" 
          d="
            M 212.27,   83.43
            q -10.25    -.05
              -20.19    .37
            V 84
            a .19       .19,
              0,        0,
              0         -.19
              -.19
            C 84.79,    88.26,
              6.48,     130.46,
              7,        132.28S93,
              91.68,    212.59,
              92.55
            l 3.86,     0
            a .19       .19,
              0,        0,
              0,        .19
              -.19
            l .08       -8.9
              -.08,     8.9
            a .19       .19,
              0,        0,
              0,        .18
              .19
            C 340.55,   94.55,
              427.4,    142,
              428,      140.1
            S 336.38,   84.07,
              212.27,   83.43
            Z" 
          transform="translate(-10.99 -17)" />
  <polyline 
          id="house-overfill2" 
          class="cls-4" 
          points="
            247.09      77.95 
            247.05      66.88 
            210.66      65.94 
            210.62      75.96" />
  <polyline 
          id="house-overfill" 
          class="cls-4" 
          points="
            173.6       66.43 
            173.65      77.4 
            185         76.69 
            185         65.62" />
  <polygon 
          id="black-toolbar" 
          points="
            167.26      108.23 
            167.26      56.99 
            150.47      63.83 
            150.47      108.12 
            167.26      108.23" />
  <text class="cls-2" transform="translate(470.67 60.4)">I BUY AS IS</text>
  <text class="cls-3"  transform="translate(470.67 117.2) scale(.693,.8)">We Buy Houses Fast!</text>
</svg>
<div class="col-md-1"></div>