<header class="clearfix">
  <div class="container">
    <div class="header-left">
      <app-landy></app-landy>
    </div>
    <div class="header-right">
      <label for="open">
        <span class="hidden-desktop"></span>
      </label>
      <input type="checkbox" name="" id="open">
      <nav>
        <a href="#">Home</a>
        <a href="#">Inspiration</a>
        <a href="#">Articles</a>
        <a href="#">Works</a>
        <a href="#">Contact</a>
      </nav>
    </div>
  </div>
</header>
