input {
  /*-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

  /* color and border */
  /background-color: white;
  border: 0px solid #000000;
  /* rounded corners*/
  /*border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;*/
  /*drop shadow */
  /* -webkit-box-shadow: 23px 23px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 23px 23px 23px 03px rgba(0,0,0,1); */
  /*box-shadow: 0px 0px 0px 1px #808080;*/
  /*border-radius: 5px;*/
}
 /*Letter Color*/
.row {
  color: #141313;

}
/* letter styling*/

.col-xs-12 {
  font-family: 'Franklin Gothic';
  margin-top:1px;
  margin-bottom: 0px !important;
  align-content: space-between;
}

  input:required:invalid {
    /*background-color: palevioletred !important;*/
  
  }
  /*button styling*/
button {
  font-size: large;
  border: 10px solid #cc3333;
  border-radius: 0px;
  background-color: #cc3333;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 auto;
  
}

  button:after {
    content: "";
  }

  button:hover,
  button:focus {
    outline: none;
    background: #811111;
    color: white;
    font-size: large;
    border: 10px solid #811111;
  }
