
<div class="row">
  <div [hidden]="!this.isVisible(contactrequest.visibility.FirstName)" class="col-xs-12 col-sm-6" >
    <label for="first_name">First Name</label><input [(ngModel)]="contactrequest.FirstName" id="first_name" class="col-xs-12" placeholder="First Name" />
  </div> 
  <div [hidden]="!this.isVisible(contactrequest.visibility.LastName)" class="col-xs-12 col-sm-6">
    <label for="last_name">Last Name</label><input [(ngModel)]="contactrequest.LastName" id="last_name" class="col-xs-12" placeholder="Last Name" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.EMail)" class="col-xs-12 col-sm-6">
    <label for="email">Email</label><input [(ngModel)]="contactrequest.EMail" id="email" class="col-xs-12" placeholder="Email" />
  </div>
  <div class="col-xs-12 col-sm-6"></div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.PhoneHome)" class="col-xs-12 col-sm-6">
    <label for="phone">Home Phone</label><input [(ngModel)]="contactrequest.PhoneHome" id="phonehome" class="col-xs-12" placeholder="Home Phone" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.PhoneCell)" class="col-xs-12 col-sm-6">
    <label for="phone">Cell Phone</label><input [(ngModel)]="contactrequest.PhoneCell" id="phonecell" class="col-xs-12" placeholder="Cell Phone" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.PhoneWork)" class="col-xs-12 col-sm-6">
    <label for="phone">Work Phone</label><input [(ngModel)]="contactrequest.PhoneWork" id="phonework" class="col-xs-12" placeholder="Work Phone" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.PhoneFax)" class="col-xs-12 col-sm-6">
    <label for="phone">Fax Phone</label><input [(ngModel)]="contactrequest.PhoneFax" id="phonefax" class="col-xs-12" placeholder="Fax Phone" />
  </div>


  <div [hidden]="!this.isVisible(contactrequest.visibility.MailingAddress1)" class="col-xs-12">
    <label for="address1">Mailing Address 1</label><input [(ngModel)]="contactrequest.MailingAddress1" id="mailingaddress1" class="col-xs-12" placeholder="Mailing Address 1" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.MailingAddress2)" class="col-xs-12">
    <label for="address2">Mailing Address 2</label><input [(ngModel)]="contactrequest.MailingAddress2" id="mailingaddress2" class="col-xs-12" placeholder="Mailing Address 2" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.MailingCity)" class="col-xs-6 col-sm-4">
    <label for="city">Mailing City</label><input [(ngModel)]="contactrequest.MailingCity" id="mailingcity" class="col-xs-12" placeholder="Mailing City" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.MailingState)" class="col-xs-6 col-sm-4">
    <label for="state">Mailing State</label><input [(ngModel)]="contactrequest.MailingState" id="mailingstate" class="col-xs-12" placeholder="Mailing State" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.MailingZip)" class="col-xs-6 col-sm-4">
    <label for="zip">Mailing Zip Code</label><input [(ngModel)]="contactrequest.MailingZip" id="mailingzip" class="col-xs-12" placeholder="Mailing Zip" />
  </div>

  <div [hidden]="!this.isVisible(contactrequest.visibility.PropertyAddress1)" class="col-xs-12">
    <label for="address1">Property Address 1</label><input [(ngModel)]="contactrequest.PropertyAddress1" id="propertyaddress1" class="col-xs-12" placeholder="Property Address 1" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.PropertyAddress2)" class="col-xs-12">
    <label for="address2">Property Address 2</label><input [(ngModel)]="contactrequest.PropertyAddress2" id="propertyaddress2" class="col-xs-12" placeholder="Property Address 2" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.PropertyCity)" class="col-xs-6 col-sm-4">
    <label for="city">Property City</label><input [(ngModel)]="contactrequest.PropertyCity" id="propertycity" class="col-xs-12" placeholder="Property City" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.PropertyState)" class="col-xs-6 col-sm-4">
    <label for="state">Property State</label><input [(ngModel)]="contactrequest.PropertyState" id="propertystate" class="col-xs-12" placeholder="Property State" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.PropertyZip)" class="col-xs-6 col-sm-4">
    <label for="zip">Property Zip Code</label><input [(ngModel)]="contactrequest.PropertyZip" id="propertyzip" class="col-xs-12" placeholder="Property Zip" />
  </div>



  <div [hidden]="!this.isVisible(contactrequest.visibility.Funds)" class="col-xs-12">
    <label for="funds">*Funds I have available</label><input [(ngModel)]="contactrequest.Funds" id="funds" class="col-xs-12" placeholder="funds" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.Personal)" class="col-xs-12 col-sm-4">
    <label for="personal">Personal Funds</label><input [(ngModel)]="contactrequest.Personal" id="personal" class="col-xs-12" placeholder="Personal Funds" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.IRA)" class="col-xs-12 col-sm-4">
    <label for="ira">IRA Funds</label><input [(ngModel)]="contactrequest.IRA" id="ira" class="col-xs-12" placeholder="IRA Funds" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.Business)" class="col-xs-12 col-sm-4">
    <label for="business">Business Funds</label><input [(ngModel)]="contactrequest.Business" id="business" class="col-xs-12" placeholder="Business Funds" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.Available)" class="col-xs-12 col-sm-4">
    <label for="available">Date Funds Available</label><input [(ngModel)]="contactrequest.Available" id="available" class="col-xs-12" placeholder="available" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.Terms)" class="col-xs-12 col-sm-4">
    <label for="terms">Length Terms</label><input [(ngModel)]="contactrequest.terms" id="Terms" class="col-xs-12" placeholder="terms" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.Payments)" class="col-xs-12 col-sm-4">
    <label for="payments">Payment Preference</label><input [(ngModel)]="contactrequest.Payments" id="payments" class="col-xs-12" placeholder="Payment Preference" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.Learn)" class="col-xs-12 col-sm-4">
    <label for="learn">Learn About Self Directed IRAs</label><input [(ngModel)]="contactrequest.Learn" id="learn" class="col-xs-12" placeholder="Self Directed IRAs" />
  </div>
  <div [hidden]="!this.isVisible(contactrequest.visibility.Comments)" class="col-xs-12">
    <label for="comments">Comments</label><input [(ngModel)]="contactrequest.Comments" id="comments" class="col-xs-12" placeholder="Comments" />
  </div>
  <div class="col-xs-12">
    <br />
    <button>Contact Me</button>
  </div>

</div>
