/*input {*/
  /*-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

  /* color and border */
  /*background-color: white;
  border: 1px solid #000000;*/
  /* rounded corners*/
  /*border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;*/
  /*drop shadow */
  /* -webkit-box-shadow: 23px 23px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 23px 23px 23px 03px rgba(0,0,0,1); */
  /*box-shadow: 0px 0px 0px 1px #808080;*/
  /*border-radius: 5px;*/
  /*outline: 2px thick outset #808080;
  border-radius: 5px;*/
/*}*/
 /*Letter Color*/
/*.row {
  color: #141313;*/

/*}*/
/* letter styling*/

/*.col-xs-12 {
  font-family: 'Franklin Gothic';
  letter-spacing: 1px;
  margin-top:1px;
  margin-bottom: 0px !important;
  align-content: space-between;
}

  input:required:invalid {*/
    /*background-color: palevioletred !important;*/
  
  /*}*/
 /* Beta CSS*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/*button styling*/
button {
  background-color: #ea3a3a;
  color: white;
  border: 10px solid #ea3a3a;
  border-radius: 4px;
  cursor: pointer;
}

  button:after {
    content: "";
  }

  button:hover,
  button:focus {
    background-color: #c72323;;
    border: 10px solid #c72323;
    border-radius: 4px;
  }
