a:link,
a:visited,
a {
  color: white;
}

.footer {
  /*background-color: #025c99;*/
  background-color: #212128;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

a:hover {
  color: crimson;
  font-weight: bold;
  cursor: pointer;
}

.lowertext {
  margin: 5px 0px 0px 0px;
}

.centertext {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.aboutcolm {
  text-align: right;
}

.footmenu {
  margin-bottom:5px;
}

.contactus {
  text-align:left;
}
