
<!--<div class="col-xs-12 footer">
  <div class="col-xs-12 col-sm-4 lowertext centertext">
    &copy;2017 - I Buy As Is, Inc.
  </div>
  <div class="col-xs-12 col-sm-4">
    <app-social [facebook]="facebook"
                [twitter]="twitter"
                [linkedin]="linkedin"
                [googleplus]="googleplus"
                [youtube]="youtube">
    </app-social>
  </div>
  <div class="col-xs-12 col-sm-3 col-sm-offset-1 lowertext centertext">

    <a routerLink="/terms" class="center" routerLinkActive="active" style="color:#6d6d6d">Terms</a>
    <a routerLink="/privacy" class="center" routerLinkActive="active" style="color:#6d6d6d">Privacy</a>

  </div>
  <div class="hidden-xs col-sm-6 col-sm-offset-3 footmenu">
    <div class="col-xs-4 col-sm-3 center">
      <h3>About</h3>
      <ul>
        <li> <a routerLink="/about" class="center" routerLinkActive="active" style="color:#6d6d6d">About</a> </li>
        <li> <a href="http://blog.ibuyasis.com/" class="center" style="color:#6d6d6d">Blog</a> </li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 center">
      <h3>Buy/Sell</h3>
      <ul>
        <li> <a routerLink="/sell" class="center" routerLinkActive="active" style="color:#6d6d6d">Sell Your Home</a> </li>
        <li> <a routerLink="/buy" class="center" routerLinkActive="active" style="color:#6d6d6d">Buy A Home</a> </li>
        <li> <a routerLink="/wholesale" class="center" routerLinkActive="active" style="color:#6d6d6d">Wholesale</a> </li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-3 center">
      <h3>Contact Us</h3>
      <ul>
        <li> <a routerLink="/contactus" class="center" routerLinkActive="active" style="color:#6d6d6d">Contact Us</a> </li>
        <li> <a routerLink="/faq" class="center" routerLinkActive="active" style="color:#6d6d6d">FAQs</a> </li>
        <li> <a routerLink="/investors" class="center" routerLinkActive="active" style="color:#6d6d6d">Investors</a> </li>
      </ul>
    </div>
  </div>
</div>-->
<footer class="footer-distributed">

  <div class="footer-left">
    <div class="col-xs-12">
      <app-landy></app-landy>
    </div>
    <p class="footer-links">
      <a routerLink="/home" routerLinkActive="active"><div class="col-xs-12">Home</div></a>
      
      <a routerLink="/about" routerLinkActive="active"><div class="col-xs-12">About</div></a>
      
      <a routerLink="/buy" routerLinkActive="active"><div class="col-xs-12">Buy&nbsp;A&nbsp;Home</div></a>
      
      <a routerLink="/wholesale" routerLinkActive="active"><div class="col-xs-12">Wholesale</div></a>
      
      <a routerLink="/sell" routerLinkActive="active"><div class="col-xs-12">Sell</div></a>
      
      <a href="http://blog.ibuyasis.com" routerLinkActive="active"><div class="col-xs-12">Blog</div></a>
    </p>

    <p class="footer-company-name">I Buy As Is, Inc &copy; 2017</p>
    <a routerLink="/terms" class="center" routerLinkActive="active" style="color:#6d6d6d">Terms</a>
    <a routerLink="/privacy" class="center" routerLinkActive="active" style="color:#6d6d6d">Privacy</a>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-phone"></i>
      <a href="tel:+1-813-444-4567"><p>(813) 444-4567</p></a>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:info@ibuyasis.com">info@ibuyasis.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About Us</span>
      I Buy As Is, Inc. is the areas’ premier real estate solutions company, and since our inception we have been helping homeowners along with improving communities in each city we work in.
    </p>

    <div class="footer-icons">
      <app-social [facebook]="facebook"
                  [twitter]="twitter"
                  [linkedin]="linkedin"
                  [googleplus]="googleplus"
                  [youtube]="youtube">
      </app-social>

    </div>

  </div>

</footer>

