
<div class="col-xs-12 footer">
  <div class="col-xs-12 col-sm-4 lowertext centertext">
    &copy;2017 - I Buy As Is, Inc.
  </div>
  <div class="col-xs-12 col-sm-4">
  <app-social [facebook]="facebook"
              [twitter]="twitter"
              [linkedin]="linkedin"
              [googleplus]="googleplus"
              [youtube]="youtube">
  </app-social>
  </div>
  <div class="col-xs-12 col-sm-3 col-sm-offset-1 lowertext centertext">
    <a routerLink="/terms" class="center" routerLinkActive="active">Terms</a> |
    <a routerLink="/privacy" class="center" routerLinkActive="active">Privacy</a>
  </div>
</div>
