<div class="col-xs-12 header">
  <div class="col-xs-12 col-sm-6 lowertext">
    <a routerLink="/contactus" routerLinkActive="active"><div class="col-xs-4 col-sm-2 toptx">CONTACT&nbsp;US</div></a>
    <a routerLink="/investors" routerLinkActive="active"><div class="col-xs-4 col-sm-2 toptx">INVESTORS</div></a>
    <a routerLink="/faq" routerLinkActive="active"><div class="col-xs-4 col-sm-2 toptx">FAQ</div></a>
  </div>
  <div class="col-xs-12 col-sm-4">
    <app-social [facebook]="facebook"
                [twitter]="twitter"
                [linkedin]="linkedin"
                [googleplus]="googleplus"
                [youtube]="youtube">

    </app-social>
  </div>
  <div class="col-xs-12 col-sm-2 col-sm-offset-1 lowertext login">
    (813) 444-4567 / <a routerLink="/login" routerLinkActive="active" style="color: #808080">Login</a>
  </div>
</div>
