<app-header></app-header>
<app-pagetitle [title]='title'></app-pagetitle>
<div role="main" class="hidden-xs hidden-sm">
  <app-carousel [id]="'wholesalecarousel'" [tiles]="tiles"></app-carousel>
</div>
<div role="contentinfo" itemscope itemtype="http://schema.org/WebPage" class="container">
  <div itemprop="name" class="hidden-md hidden-lg hidden-xl">
  <h1>Take ALL of the stress out of your next investment property.</h1>  
  <img alt="stress" class="stressm col-xs-12" src="assets/images/slideshow/stress1.jpg">
  </div>
  <br/>
  <div itemprop="about">
    <p><b>❯</b> We have exclusive NON-MLS listed properties as well as our Rehabs to Retail properties. All our properties are assignable and title work in process; and are ready for resale.</p>
    <p><b>❯</b> We have a wide range of properties depending on your investment level and desired location needs.</p>
    <p><b>❯</b> No more stress or wasted time evaluating deals that don't have a profitable exit strategy in place. Fill out our VIP Wholesale form and receive our properties when available in your market via email or text message, you tell us.</p>
  </div>
  <ul>
    <li>Our wholesale properties list is ready for the next step</li>
    <li>Our properties have accurate ARVs for value.</li>
    <li>Our rehab estimates are calculated by trained professionals.</li>
    <li>Our properties are assignable from us.</li>
    <li>Our business gives you the real deal.</li>
  </ul>
  <p><b>❯</b> All our property data is fact driven and has documented accuracy, which gives you more time to make the right decision instead of looking at useless information.</p>
  <p><b>❯</b> Don't forget to add us to your buyer's list. I Buy As Is not only sells, we purchase properties form wholesalers as well.</p>
  <h2>Sign up below to view our exclusive listings.</h2>
  <p>All personal information that you provide here is secure and will <b>not</b> be shared.</p>
  
  <div role="form" class="row">
    <div class="col-xs-12">
      <br />
      <div class="col-xs-12 innerbox" >
        <app-contact-request [contactrequest]="contactrequest"></app-contact-request>
      </div>
      <br/>
    </div>    
  </div>
</div>
<div class="clearfix"></div>
<app-footer></app-footer>
