<app-header></app-header>
<app-pagetitle [title]='title'></app-pagetitle>
<br />
<div class="container">
  <p>Take some of the stress out of finding your next investment property project, I Buy As Is giving you some options.</p>  
  <p>We have exclusive non MLS listed properties as well as our Rehab to retail properties. Our properties are in our control, assignable, all have clear titles already for resale.</p>
  <p>We have a wide range of properties depending on your investment level and desired location needs.</p>
  <p>No more brain freezes wasting time evaluating deals that don't make since. Fill out our VIP wholesale form and receive our properties when available in your market via email or text message you tell us.</p>
  
  <ul>
    <li>Our wholesale properties list is ready for the next step</li>
    <li>Our properties have accurate ARVs for value.</li>
    <li>Our rehab numbers are calculated by trained pros.</li>
    <li>Our properties are assignable from us.</li>
    <li>Our business gives you the real deal.</li>
  </ul>
  <p>Say goodbye to countless wasted look ups, all our property data is fact driven and has documented accuracy.</p>
  <p>Don't forget to add us to your buyers list we are buyers like you.</p>
  <p>Sign up below to view our exclusive listings.</p>
  <p>All personal information that you provide here is completely confidential.</p>
  
  <div class="row">
    <div class="col-xs-12">
      <br />
      <div class="col-xs-12 innerbox" >
        <app-contact-request [contactrequest]="contactrequest"></app-contact-request>
      </div>
      <br/>
    </div>    
  </div>
</div>
<div class="clearfix"></div>
<app-footer></app-footer>